<h1>Listing games</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Icon img src</th>
      <th>Webplayer url</th>
      <th>String,</th>
      <th>Chrome url</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.title %></td>
        <td><%= game.description %></td>
        <td><%= game.icon_img_src %></td>
        <td><%= game.webplayer_url %></td>
        <td><%= game.chrome_url %></td>
        <td><%= link_to 'Show', game %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% # link_to 'New Game', new_game_path %>
